.vscode/
bin/*.o
sokoban
sokoban.exe
samples/Lev.txt
GameSokobanData/data.txt
GameSokobanData/Solutions.txt
GameSokobanData/Levels/
GameSokobanData/Solutions/
GameSokobanData/lev.txt
lev.txt
levBig.txt
SaveSolution.txt